<header>
    <h1 class="form_title">Optica Riff</h1> 
    <div class="main-header">
        <div class="main-hamburguer">
            <!--El boton Hamburguesa, que despliega el menu de opciones en la vista movile/tablets-->
            <a class="hamburguer-buttom" id="btn_hamburguer" onclick="desplegarMenu()"><i class="fa-solid fa-bars"></i></a>
            <p>Menú</p>
        </div>
        <div class="main-logo">
            <a href="/"><img src="/images/logos/logo.png" alt="Optica RIFF"></a>
        </div>
        <div class="check_addProduct">
            <i class="fa-regular fa-circle-check"><h4>Producto Agregado</h4></i>
        </div>
        <div class="main-buscar-carrito">
            <!-- La lista de usuarios hacerla visible solo para administradores -->  
            <% if(locals.userLogged && userLogged.authorities[0].role == 'role_admin') { %>
                <p>
                    <a class="ocultar" href="/users/profile/<%= userLogged.id %>">
                        <%= userLogged.user %>
                        <div style="width: 25px">
                            <img style="width: 100%" src="/images/users/<%= userLogged.image_users.name != undefined ? userLogged.image_users.name : 'default-avatar-profile.jpg' %>" alt="Imagen de Usuario">
                        </div>
                    </a>
                    <a class="ocultar" href="/users/userList"><i class="fa-solid fa-users"></i></a>
                    <a class="ocultar" href="/products/all"><i class="fa-solid fa-box-open"></i></a>
                </p> 
            <% } else if(locals.userLogged && userLogged) { %>
                <p>
                    <a class="ocultar" href="/users/profile/<%= userLogged.id %>">
                        <%= userLogged.user %>
                        <div style="width: 25px">
                            <img style="width: 100%" src="/images/users/<%= userLogged.image_users.name != undefined ? userLogged.image_users.name : 'default-avatar-profile.jpg' %>" alt="Imagen de Usuario">
                        </div>
                    </a>
                </p>      
            <% } else { %>
                <p><a href="/users/register">Crear Cuenta</a>|<a href="/users/login">Iniciar Sesion</a></p>
            <% } %> 
            <a id="a_buscador" onclick="buscadorMovileTablet()"><i class='fa-solid fa-magnifying-glass'></i></a>
            <a href="/products/productCart"><i class="fa-solid fa-cart-shopping cart_product"><p class="p_cart_product"></p></i></a>
            <!-- Hacer visible solo para administrador -->
            <% if(locals.userLogged && userLogged.authorities[0].role == 'role_admin'){ %>
                <a class="ocultar" href="/products/create"><i class="fa-solid fa-box-archive"></i></a>         
            <% } %>
            <% if(locals.userLogged && userLogged){ %>
                <a class="ocultar" href="/users/logout"><i class="fa-solid fa-power-off"></i></a> 
            <% } %>
        </div>
    </div>    
    <div id="divBuscador" class="div-form-buscar-productos" style="display: none;">
        <form id="formMovileTablet" action="/products/search" method="get" style="text-align: center;">
            <input 
                style="border-radius: 10px;
                padding: 10px;
                width: 75%;
                height: 30px;" 
                name="buscarProductos" class="inputTextSearch buscar-productos" value="" type="text" placeholder="Buscar productos..">
        </form>
    </div>
    <nav class="main-navbar" id="mainNavbar">
        <ul class="navbar">
            <!--Aca ya estan creados algunos de los links que vamos a poner, hay que ver bien los nombre y ponerlos-->
            <li class="li-hover btn">
                <% if(locals.userLogged && userLogged) { %>
                    <a href="/users/profile/<%= userLogged.id %>">
                        <div style="width: 25px; display: flex;">
                            <img src="/images/users/<%= userLogged.image_users.name %>" style="width: 100%; margin-right: 15px;">
                            <p><%= userLogged.user %></p>
                        </div>
                    </a>
                <% } %>
                <button class="btn-cerrar" onclick="desplegarMenu()" type="button">X</button>
            </li>
            <li class="li-hover"><a href="/">Inicio</a></li>
            <li class="li-hover"><a href="/#ofertas">Ofertas</a></li>
            <li class="li-hover"><a href="/products/anteojosRecetados">Anteojos Recetados</a></li>
            <li class="li-hover"><a href="/products/anteojosSol">Anteojos para Sol</a></li>
            <li class="li-hover"><a href="/products/anteojosLentesContacto">Lentes de Contacto</a></li>
            <li class="li-hover"><a href="/products/accesorios">Accesorios</a></li> 
            <li class="li-hover"><a href="/contact">Contacto</a></li>
            <li class="li-hover despliega"><a href="/products/all">Listado de Productos</a></li>
            <% if(locals.userLogged && userLogged.authorities[0].role == 'role_admin') { %>
                <li class="li-hover despliega"><a href="/products/create">Crear un producto</a></li>
                <li class="li-hover despliega"><a href="/users/userList">Lista de Usuarios</a></li>
                <li class="li-hover despliega"><a href="/users/logout">Cerrar Sesion</a></li>              
            <% } else if(locals.userLogged && userLogged) { %>   
                <li class="li-hover despliega"><a href="/users/logout">Cerrar Sesion</a></li> 
            <% } else { %> 
                <li class="li-hover despliega"><i class="fa-solid fa-user"></i><a href="/users/register">Crear Cuenta</a>|<a href="/users/login">Iniciar Sesion</a></li>               
            <% } %>

            <!-- Visualizar la lista de usuarios solo para administrador -->
            
            <li class="li-buscar">
                <form id="formDesktop" action="/products/search" method="get">
                    <div class="div-form-buscar-productos">
                        <label>
                            <input name="buscarProductos" class="buscar-productos inputDesktop" value="" type="text" placeholder="Buscar productos..">
                            <button type="submit" class="form-submit"><i class='fa-solid fa-magnifying-glass glass'></i></button>
                        </label>
                    </div>
                </form>
            </li>
        </ul>
    </nav>
</header>