<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('./partials/head', {variant:'/css/index.css'}) %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- MAIN -->
    <main class="main-main">
        <div class="main-carrousel">
            <div class="container-img" id="containerImg">
                <% for(let i = 0; i < imageCarrousel.length; i++) { %>
                    <img src="/images/banners/<%= imageCarrousel[i].src %>" alt="<%= imageCarrousel[i].alt %>" class="<%= imageCarrousel[i].class %>">
                <% } %>
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>
        <div class="secondary-carrousel">
            <div class="container-info" id="containerInfo">
                <div class="enviamos-tu-compra">
                    <div class="icon-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="copy-header">
                        <h6>
                            <strong>ENVIAMOS TU COMPRA</strong>
                        </h6>
                        <p>Entregas a todo el país</p>
                    </div>
                </div>
                <div class="paga-como-quieras">
                    <div class="icon-truck">
                        <i class="fa-regular fa-credit-card"></i>
                    </div>
                    <div class="copy-header">
                        <h6>
                            <strong>PAGÁ COMO QUIERAS</strong>
                        </h6>
                        <p>Tarjetas de crédito o efectivo</p>
                    </div>
                </div>
                <div class="compra-con-seguridad">
                    <div class="icon-truck">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="copy-header">
                        <h6>
                            <strong>COMPRÁ CON SEGURIDAD</strong>
                        </h6>
                        <p>Tus datos siempre protegidos</p>
                    </div>
                </div>
            </div>
            <ul class="puntos1">
                <li class="punto1 activo1"></li>
                <li class="punto1"></li>
                <li class="punto1"></li>
            </ul>
        </div>
        <div class="container-info-desktop">
            <div class="enviamos-tu-compra">
                <div class="icon-truck">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="copy-header">
                    <h6>
                        <strong>ENVIAMOS TU COMPRA</strong>
                    </h6>
                    <p>Entregas a todo el país</p>
                </div>
            </div>
            <div class="paga-como-quieras">
                <div class="icon-truck">
                    <i class="fa-regular fa-credit-card"></i>
                </div>
                <div class="copy-header">
                    <h6>
                        <strong>PAGÁ COMO QUIERAS</strong>
                    </h6>
                    <p>Tarjetas de crédito o efectivo</p>
                </div>
            </div>
            <div class="compra-con-seguridad">
                <div class="icon-truck">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="copy-header">
                    <h6>
                        <strong>COMPRÁ CON SEGURIDAD</strong>
                    </h6>
                    <p>Tus datos siempre protegidos</p>
                </div>
            </div>
        </div>
        <div class="secciones">
            <div class="contenedor-imagenes">
                <div class="seccion-imagen">
                    <a href="/products/anteojosSol"><img src="/images/banners/anteojos-para-sol.webp" alt="Imagen 1"></a>
                </div>
                <div class="seccion-imagen">
                    <a href="/products/anteojosRecetados"><img src="/images/banners/anteojos-recetados.webp" alt="Imagen 2"></a>
                </div>
                <div class="seccion-imagen">
                    <a href="/products/anteojosLentesContacto"><img src="/images/banners/lentes-de-contacto.webp" alt="Imagen 3"></a>
                </div>
            </div>
        </div>
        
        <section>
            <h2 id="ofertas">&#128293 Ofertas &#128293</h2>
            <div class="main-section-div">
                <% for(let i = 0; i < 12; i++) { %>
                    <% let pruebaResult = result[i] %> 
                    <article class="main-section-product">
                        <a href="/products/product/<%- products[pruebaResult].id %> ">
                            <div class="main-section-img">
                                <img src="/images/productos/<%= products[pruebaResult].categoryProduct + '/' + products[pruebaResult].image %>" alt="<%= products[pruebaResult].descriptionProduct + " " + products[pruebaResult].id %>">
                            </div>
                        </a>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <i class="fa-solid fa-truck"></i>
                                <p class="precio-producto"><%= "$" + products[pruebaResult].priceProduct %></p>
                                <p class="precio-con-descuento"><%= '$4800' %></p>
                                <p class="descuento-producto"><%= '40% OFF' %></p>
                            </div>
                            <div class="section-h3">
                                <h3><%= products[pruebaResult].nameProduct %></h3>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
<script src="/js/function.js"></script>
</html>
