<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('./partials/head', {variant:'/css/index.css'}) %>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- MAIN -->
    <main class="main-main">
        <div class="main-carrousel">
            <div class="container-img" id="containerImg">
                <% for(let i = 0; i < imageCarrousel.length; i++) { %>
                    <img src="/images/banners/<%= imageCarrousel[i].src %>" alt="<%= imageCarrousel[i].alt %>" class="<%= imageCarrousel[i].class %>">
                <% } %>
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>
        
        <% let mainContainer = [{div: 'secondary-carrousel'}, {div: 'container-info-desktop'}] %> 
        <% for( let i = 0; i < mainContainer.length; i++ ) { %>
            <% let info = [{divContainer: 'enviamos-tu-compra', classI: 'fa-solid fa-truck', copyHeaderH: 'ENVIAMOS TU COMPRA', copyHeaderP: 'Entregas a todo el país'},{divContainer: 'paga-como-quieras', classI: 'fa-regular fa-credit-card', copyHeaderH: 'PAGÁ COMO QUIERAS', copyHeaderP: 'Tarjetas de crédito o efectivo'},{divContainer: 'compra-con-seguridad', classI: 'fa-solid fa-lock', copyHeaderH: 'COMPRÁ CON SEGURIDAD', copyHeaderP: 'Tus datos siempre protegidos'}] %>
            <div class="<%= mainContainer[i].div %>">
                <% if (mainContainer[i].div == 'secondary-carrousel') { %>
                    <div class="container-info" id="containerInfo">
                <% } %>
                <% for( let j = 0; j < info.length; j++ ) { %>
                    <div class="<%= info[j].divContainer %>">
                        <div class="icon-truck">
                            <i class="<%= info[j].classI %>"></i>
                        </div>
                        <div class="copy-header">
                            <h6>
                                <strong><%= info[j].copyHeaderH %> </strong>
                            </h6>
                            <p><%= info[j].copyHeaderP %> </p>
                        </div>
                    </div>
                <% } %>
                <% if (mainContainer[i].div == 'secondary-carrousel') { %>
                    </div>
                <% } %>
                <% if (mainContainer[i].div == 'secondary-carrousel') { %>
                    <ul class="puntos1">
                        <li class="punto1 activo1"></li>
                        <li class="punto1"></li>
                        <li class="punto1"></li>
                    </ul>
                <% } %>
            </div>
        <% } %>

         <div class="secciones">
            <div class="contenedor-imagenes">
                <% let infoContainerImg = [{href: 'Sol', src: 'anteojos-para-sol.webp', alt: '1'}, {href: 'Recetados', src: 'anteojos-recetados.webp', alt: '2'}, {href: 'LentesContacto', src: 'lentes-de-contacto.webp', alt: '3'}] %>
                <% for( let i = 0; i < infoContainerImg.length; i++ ) { %>
                    <div class="seccion-imagen">
                        <a href="/products/anteojos<%= infoContainerImg[i].href %>"><img src="/images/banners/<%= infoContainerImg[i].src %> " alt="Imagen <%= infoContainerImg[i].alt %> "></a>
                    </div>                    
                    <% } %>
                </div>
            </div>
        
        <section>
            <h2 id="ofertas">&#128293 Ofertas &#128293</h2>
            <div class="main-section-div">
                <% for(let i = 0; i < 12; i++) { %>
                    <% let pruebaResult = result[i] %> 
                    <article class="main-section-product">
                        <a href="/products/<%- products[pruebaResult].id %> ">
                            <div class="main-section-img">
                                <img src="/images/productos/<%= products[pruebaResult].categoryProduct + '/' + products[pruebaResult].image %>" alt="<%= products[pruebaResult].descriptionProduct + " " + products[pruebaResult].id %>">
                            </div>
                        </a>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <i class="fa-solid fa-truck"></i>
                                    <p class="precio-producto"><%= "$" + toThousand(toComma(products[pruebaResult].priceProduct)) %></p>
                                    <p class="precio-con-descuento"><%= "$" + toThousand(toComma(products[pruebaResult].priceDiscount)) %></p>
                                    <p class="descuento-producto"><%= products[pruebaResult].discount + '% OFF' %></p>
                            </div>
                            <div class="section-h3">
                                <h3><%= products[pruebaResult].nameProduct %></h3>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer') %>
</body>
<script src="/js/function.js"></script>
</html>
