<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head', { variant: '/css/login.css'});%> 
<body>
  <%- include('../partials/header');%>
    <main>
        <form class="form" action="/users/login" method="post">
          <div class="ruta-login">
            <a href="/">Inicio</a>/<p>Iniciar Sesion</p>
          </div>
          <div class="form_conteiner">
            <div class="form_group">
              <input required type="text" id="userName" name="userName" class="form_input" value="<%= locals.oldData ? oldData.userName : null %>"/>
              <label for="userName" class="form_label">Usuario:</label>     
              <% if (locals.errors && errors.userName) {  %>
                <div class = "validation_error"> <%= errors.userName.msg  %>        
                  <% } %>
                </div>
            
            <div class="form_group">
              <input required type="password" id="password" name="password" class="form_input"  placeholder=" "/>
              <label for="password" class="form_label">Contraseña:</label>
              <div class="checkboxPass">
                <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                <label for="checkPassword">
                    <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                    <i class="fa-solid fa-eye" id="eye"></i>
                </label>
              </div>      
              <% if (locals.errors && errors.password) {  %>
                <div class = "validation_error"> <%= errors.password.msg  %>        
                  <% } %>
                </div>        
              <div class="div_checkbox">
                <a href="#">Olvidaste tu constraseña?</a>
                <div>
                  <label for="true" class="form_checkbox">Recordar Usuario</label>
                  <input type="checkbox" name="true" />
                </div>
              </div>
            </div>
            <div>
              <input type="submit" class="form_submit" value="Entrar" />
              <div class="div_button">
                <button class="button_g" type="button">
                  <a href="https://accounts.google.com/signin/v2/identifier?hl=es-419&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa-brands fa-google"></i></a>
                </button>
                <button class="button_i" type="button">
                  <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </button>
              </div>
            </div>
            <p class="form_paragraph">
              ¿Aún no tienes una cuenta?
              <a href="/users/register" class="form_link">Entra aquí</a>
            </p>
          </div>
        </form>
    </main>
    <%- include('../partials/footer')%> 
</body>
<script src="/js/function.js"></script>
</html>
