<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {variant: '/css/register.css'})%>
  <body>
    <%- include('../partials/header')%>
    <main>
      <!-- ----------------AGREGAR CODIGO NUEVO---------------- -->
      <form class="form" action="/users/profile/<%= userId %>/passwordEdit?_method=put" method="post">
        <div class="ruta-login">
          <a href="/">Inicio</a>/<a href="/users/profile/<%= userId %>">Perfil</a>/<p>Cambiar Contraseña</p>
        </div>

        <div class="form_group">
          <input required type="password" id="passwordActual" name="passwordActual" class="form_input" placeholder=" "/>
          <label for="passwordActual" class="form_label">Contraseña Actual:</label>
          <div class="checkboxPass">
            <input type="checkbox" id="checkPasswordActual" onclick="mostrarPasswordActual()">
            <label for="checkPasswordActual">
                <i class="fa-solid fa-eye-slash" id="eyeSlashActual"></i>
                <i class="fa-solid fa-eye" id="eyeActual"></i>
            </label>
          </div>
        </div>

        <div class="div_checkbox">
          <a href="#">Olvidaste tu contraseña?</a>
        </div>

        <div class="form_group">
          <input required type="password" id="password" name="password" class="form_input" placeholder=" "/>
          <label for="password" class="form_label">Contraseña Nueva:</label>
          <div class="checkboxPass">
            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
            <label for="checkPassword">
                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                <i class="fa-solid fa-eye" id="eye"></i>
            </label>
          </div>
        </div>

        <div class="form_group">
          <input required type="password" id="confirmPassword" name="confirmPassword" class="form_input" placeholder=" "/>
          <label for="confirmPassword" class="form_label">Confirmar contraseña:</label>
          <div class="checkboxPassConfirm">
            <input type="checkbox" id="checkPasswordConfirm" onclick="mostrarConfirmPassword()">
            <label for="checkPasswordConfirm">
              <i class="fa-solid fa-eye-slash" id="eyeSlashConfirm"></i>
              <i class="fa-solid fa-eye" id="eyeConfirm"></i>
            </label>
          </div>
        </div>

        <div>
          <input type="submit" class="form_submit" value="Cambiar" />
        </div>
        
      </form>
    </main>
    <%- include('../partials/footer')%> 
  </body>
<script src="/js/function.js"></script>
</html>

