<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {variant: '/css/register.css'})%>
  <body>
    <%- include('../partials/header')%>
    <main>
      <!-- ----------------AGREGAR CODIGO NUEVO---------------- -->
      <form id="formulario" class="form" action="/users/register" method="post" enctype="multipart/form-data">
        <div class="ruta-login">
          <a href="/">Inicio</a>/<p>Crear cuenta</p>
        </div>
        <div class="form_conteiner">
          <div class="form_group div_fullname" >
            <i class="fa-regular fa-circle-xmark error"></i>
            <input type="text" id="fullName" name="fullName" class="form_input" placeholder=" " value="<%= locals.oldData ? oldData.fullName : null %>" /> 
            <label  for="fullName" class="form_label">Nombre y apellido:</label>
            <div class = "validation_error">
              <% if (locals.errors && errors.fullName) {  %>
                  <%= errors.fullName.msg %>        
              <% } %>
            </div>        
          </div>
          <div class="form_group">
            <i class="fa-regular fa-circle-xmark error"></i>
            <input  type="text" id="user" name="user" class="form_input" placeholder=" " value="<%= locals.oldData ? oldData.user : null %>"/>
            <label for="user" class="form_label">Usuario:</label>
            <div class = "validation_error">
              <% if (locals.errors && errors.user) {  %>
                <%= errors.user.msg %>        
              <% } else if (locals.errors && errors.credInvUser) { %>
                <%= errors.credInvUser.msg %>        
              <% } %>
            </div>   
          </div>
          <div class="form_group">
            <i class="fa-regular fa-circle-xmark error"></i>
            <input  type="email" id="email" name="email" class="form_input" placeholder=" " value="<%= locals.oldData ? oldData.email : null %>"/>
            <label for="email" class="form_label">Email:</label>
            <div class = "validation_error">
              <% if (locals.errors && errors.email) {  %>
                  <%= errors.email.msg %>             
              <% } else if (locals.errors && errors.credInvEmail) { %>
                  <%= errors.credInvEmail.msg %>        
              <% } %>
            </div>   
          </div>
          <div class="form_group">
            <input  accept=".png, .jpeg, .jpg" type="file" class="form_input form_input_file" id="imageUser" name="imageUser" placeholder=" "/> 
            <label for="imageUser" class="form_label">Imagen:</label>
            <div class="form_input">
              <label for="imageUser" class="form_imageFile">
                <i class="fa-solid fa-image"></i>
                <p>Elegir Imagen</p>
              </label>
            </div>
          </div>
          <div class="form_group">
            <i class="fa-regular fa-circle-xmark error"></i>
            <input  type="password" id="password" name="password" class="form_input" placeholder=" "/>
            <label for="password" class="form_label">Contraseña:</label>
            <div class="checkboxPass">
              <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
              <label for="checkPassword">
                  <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                  <i class="fa-solid fa-eye" id="eye"></i>
              </label>
            </div>
            <div class = "validation_error">
              <% if (locals.errors && errors.password) {  %>
                 <%= errors.password.msg %>        
              <% } else if (locals.errors && errors.credInvPass) { %>
                  <%= errors.credInvPass.msg %>        
              <% } %>
            </div>   
          </div>
          <div class="form_group">
            <i class="fa-regular fa-circle-xmark error"></i>
            <input  type="password" id="confirmPassword" name="confirmPassword" class="form_input" placeholder=" "/>
            <label for="confirmPassword" class="form_label">Confirmar contraseña:</label>
            <div class="checkboxPassConfirm">
              <input type="checkbox" id="checkPasswordConfirm" onclick="mostrarConfirmPassword()">
              <label for="checkPasswordConfirm">
                <i class="fa-solid fa-eye-slash" id="eyeSlashConfirm"></i>
                <i class="fa-solid fa-eye" id="eyeConfirm"></i>
              </label>
            </div>
            <div class = "validation_error">
              <% if (locals.errors && errors.confirmPassword) {  %>
                 <%= errors.confirmPassword.msg %>        
              <% } else if (locals.errors && errors.credInvPass) { %>
                <%= errors.credInvPass.msg %>        
              <% } %>
            </div>   
          </div>
          <div class = "validation_error" id="div_formulario"></div>
          <div>
            <input id="btn_submit_register" type="submit" class="form_submit" value="Registrarse" />
          </div>
          <p class="main-paragraph-first">
            ¿Ya tenés una cuenta?
            <a href="/users/login" class="form-link">Iniciá sesión</a>
          </p>
        </div>
      </form>
    </main>
    <%- include('../partials/footer')%> 
  </body>
<script src="/js/function.js"></script>
<script src="/js/usersValidation/register.js"></script>
</html>

