<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {variant:'/css/listProducts.css'}) %>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main>
        <div class="ruta-login">
            <a href="/">Inicio</a>/<p><%- products[0].descriptionProduct %></p>
        </div>
        <div class="menu-desplegable">
            <form>
                <label for="ordenar">Ordenar por:</label>
                <select name="ordenar">
                    <option value="">Novedades</option>
                    <option value="">Menor Precio</option>
                    <option value="">Mayor Precio</option>
                </select>
            </form>
        </div>
        <section>
            <div class="main-section-div">
                <% for(let i = 0; i < 12; i++) { %>
                    <!-- accesorios/accesorios1.jpg -->
                    <article class="main-section-product">
                        <a href="/products/product/<%- products[i].id %> ">
                            <div class="main-section-img">
                                <img src="/images/productos/<%= products[i].categoryProduct + '/' + products[i].image %>" alt="<%= products[i].descriptionProduct + " " + products[i].id %> %>">
                            </div>
                        </a>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <i class="fa-solid fa-truck"></i>
                                <% if (products[i].discount > 0) { %>
                                    <p class="precio-producto"><%= "$" + toThousand(toComma(products[i].priceProduct)) %></p>
                                    <p class="precio-con-descuento"><%= "$" + toThousand(toComma(products[i].priceDiscount)) %></p>
                                    <p class="descuento-producto"><%= products[i].discount + '% OFF' %></p>
                                <% } else { %>
                                    <p class="precio-con-descuento"><%= "$" + toThousand(toComma(products[i].priceDiscount)) %></p>
                                <% } %> 
                            </div>
                            <div class="section-h3">
                                <h3><%- products[i].nameProduct %></h3>
                            </div>
                        </div>
                    </article>

                <% } %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
<script src="/js/function.js"></script>
</html>
