<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {variant:'/css/productCart.css'}) %>
<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <div class="ruta-cart">
                <a href="/">Inicio</a>/<p>Carrito de compras</p>
            </div>
            <section>
                <% for( let i = 0; i < 3; i++ ) { %>
                    <div class="productos">
                        <div class="container-imagenes">
                            <a id="a_product_id" href="/products/product/<%= products[i].id %> ">
                                <img id="img_product_image" src="/images/productos/<%= products[i].categoryProduct + '/' + products[i].image %>" alt="<%= products[i].descriptionProduct + " " + products[i].id %>">
                            </a>    
                        </div>
                        <div class="container-info">
                            <div class="info-top">
                                <p id="p_product_name"><%= products[i].nameProduct %></p>
                                <button type="button"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            <div class="info-bottom">
                                <div class="btn-controller-cant">
                                    <div class="btn-controller-cant-unid">
                                        <!-- FALTA AGREGAR PARA QUE FUNCIONEN LOS BOTONES -->
                                        <button type="button">-</button>
                                        <input type="number" id="inputTypeProductCart<%= products[i].id %>" placeholder="1" readonly>
                                        <button type="button">+</button>
                                    </div>
                                    <p id="p_product_price"><%= "$" + toThousand(toComma(products[i].priceDiscount)) %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </section>
            <div class="container-secondary">
                <div class="subtotal-productos">
                    <h5>
                        <span>Subtotal:</span>
                        <% let subTotal = 0 %> 
                        <% for( let i = 0; i < 3; i++ ) { %>
                            <% subTotal += products[i].priceDiscount %> 
                        <% } %>
                        <strong><%- "$" + toThousand(toComma(subTotal.toFixed(2)))  %> </strong>
                    </h5>
                </div>
                <div class="medios-envio">
                    <div class="cp-calcular-envio">
                        <form action="/products/productCart" method="post">
                            <div class="codigo-postal">
                                <input type="text" placeholder="Codigo Postal" value="<%= locals.codigoPostal ? codigoPostal : null %>" name="codigoPostal">
                            </div>
                            <div class="calcular-envio">
                                <button class="btn-calcular" type="submit">CALCULAR</button>
                            </div>
                        </form>
                    </div>

                    <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Desconoces tu codigo postal?</a>
                    
                    <% if (costo >= 0) { %>
                        <div class="calculo-del-envio">
                            <!--Aca apareceria el costo del envio, el cual se sumaria al subtotal.-->
                            <h5>
                                <span>Calculo del envio:</span>
                                <strong><%- '$' + toThousand(toComma(costo)) %>  </strong>
                            </h5>
                        </div>
                    <% } %>
                </div>
                <div class="separador">
                    <a class = "medios-de-pago" href="#" onclick="mediosDePago()"> VER MEDIOS DE PAGO</a>
                </div>
                <div class="total-productos-envio">
                    <h5>
                        <span>Total:</span>
                        <% let total = parseFloat(subTotal) + (costo >= 0 ? parseFloat(costo) : 0) %> 
                        <strong><%= '$' + toThousand(toComma(total.toFixed(2))) %> </strong>
                    </h5>
                </div>
                <div class="formulario">
                    <div class="btn-agregarProductos-finalizar">
                        <button id="btn-agregarProductos" class="btn-agregarProductos" type="button">AGREGAR MAS PRODUCTOS</button>
                        <button id="btn-finalizar" class="btn-finalizar" type="button">FINALIZAR</i></button>
                    </div>
                </div>
            </div>    
        </div>
    </main>
 
    <!-- FOOTER -->
    <%- include('../partials/footer') %>

</body>
<script src="/js/function.js"></script>
</html>