<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {variant:'/css/productCart.css'}) %>
<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <div class="ruta-cart">
                <a href="/">Inicio</a>/<p>Carrito de compras</p>
            </div>
            <section>
                <h3 class="sin_productos_en_el_carrito">No hay productos en el carrito</h3>
                <img style="width: 40%;" src="/images/carritoVacio.png" alt="Carrito Vacio">
            </section>
            <div class="container-secondary">
                <div class="subtotal-productos">
                    <h5>
                        <span>Subtotal:</span>
                        <strong id="subtotal"></strong>
                    </h5>
                </div>
                <div class="medios-envio">
                    <div class="cp-calcular-envio">
                        <form action="/products/productCart" method="post">
                            <div class="codigo-postal">
                                <input type="text" placeholder="Codigo Postal" value="<%= locals.codigoPostal ? codigoPostal : null %>" name="codigoPostal">
                            </div>
                            <div class="calcular-envio">
                                <button class="btn-calcular" type="submit">CALCULAR</button>
                            </div>
                        </form>
                    </div>

                    <a href="https://www.correoargentino.com.ar/formularios/cpa" target="_blank">Desconoces tu codigo postal?</a>
                    
                    <% if (costo >= 0) { %>
                        <div class="calculo-del-envio">
                            <!--Aca apareceria el costo del envio, el cual se sumaria al subtotal.-->
                            <h5>
                                <span>Costo del envio:</span>
                                <strong id="costo_del_envio"><%- '$' + toThousand(toComma(costo)) %></strong>
                            </h5>
                        </div>
                    <% } %>
                </div>
                <div class="separador">
                    <a class = "medios-de-pago" href="#" onclick="mediosDePago()"> VER MEDIOS DE PAGO</a>
                </div>
                <div class="total-productos-envio">
                    <h5>
                        <span>Total:</span>
                        <strong id="total"></strong>
                    </h5>
                </div>
                <div class="formulario">
                    <div class="btn-agregarProductos-finalizar">
                        <a class="btn_enlace" href="/#ofertas"><button id="btn-agregarProductos" class="btn-agregarProductos" type="button">AGREGAR MAS PRODUCTOS</button></a>
                        <button id="btn-finalizar" class="btn-finalizar" type="button" onclick="finalizar()">FINALIZAR</i></button>
                    </div>
                </div>
            </div>    
        </div>
    </main>
 
    <!-- FOOTER -->
    <%- include('../partials/footer') %>

</body>
<script src="/js/function.js"></script>
<script src="/js/showProductCart.js"></script>
</html>