<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include('../partials/head', {variant:'/css/productDetail.css'}) %>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
 
    <main>
        <section>
            <% if (locals.products && products) { %>
                <div class="ruta-login">
                    <% let ruta = products.categoryProduct == 'lentesRecetados' ? '/products/anteojosRecetados' : products.categoryProduct == 'lentesSol' ? '/products/anteojosSol' : products.categoryProduct == 'lentesContacto' ? '/products/anteojosLentesContacto' : '/products/accesorios' %> 
                    <% let nombreRuta = products.categoryProduct == 'lentesRecetados' ? 'Anteojos Recetados' : products.categoryProduct == 'lentesSol' ? 'Anteojos de Sol' : products.categoryProduct == 'lentesContacto' ? 'Lentes de Contacto' : 'Accesorios' %> 
                    <a href="/">Inicio</a>/<a href="<%= ruta %>"> <%= nombreRuta %> </a>/<p> <%= products.nameProduct %> </p>
                </div>

                <div class ="produto-principal"> 
                    <div class = "imagen-producto main-section-img">
                        <div class="container_img">
                            <a style="visibility: hidden;" id="enlace_detalle" href="/products/<%= products.id %>"></a>
                            <% if(locals.userLogged && userLogged.authorities[0].role == 'role_admin') { %> 
                                <% let idBorrar = products.id %>
                                <button id="<%- idBorrar %>" type= "button" class="form_submit_delete" onclick="borrarProducto(id)"><i class="fa-solid fa-trash-can"></i></button>
                                <a id="enlace_detalle" href="/products/<%= products.id %>/edit"><i class="fa-solid fa-file-pen"></i></a>
                            <% } %>
                        </div>
                        <img src="/images/productos/<%= products.categoryProduct + '/' + products.image %>" alt="<%= products.descriptionProduct + " " + products.id %>">
                    </div>
                    <div class="info-producto-principal">
                        <div class="info-producto">
                            <h3 class="nombre-producto section-h3"> <%= products.nameProduct %> </h3>
                            <h2 class="precio-producto precio-con-descuento"> <%= "$" + toThousand(toComma(products.priceDiscount.toFixed(2))) %> </h2>
                        </div>
                                
                        <div class= "separador">
                            <div class= "cuotas"> 
                                <p>6 CUOTAS SIN INTERÉS DE</p> 
                                <b><%= "$" + toThousand(toComma((products.priceDiscount / 6).toFixed(2))) %></b> 
                            </div>
                            <a class = "medios-de-pago" href="#" onclick="mediosDePago()"> VER MEDIOS DE PAGO</a>
                        </div>
                        <div class ="contenedor-compra"> 
                            <button class="boton-carrito button_truck"><span>AGREGAR AL CARRITO<span></button>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="ruta-login">
                    <h2 style="color: lightgray;">Producto no encontrado</h3>
                </div>
            <% } %>    
        </section>
            
        <section>
            <h2 class="otros-productos"> Otros Productos </h2>
            <div class="main-section-div">
                <% for(let i = 0; i < productsRandom.length; i++) { %>                    
                    <article class="main-section-product">
                        <a href="/products/<%- productsRandom[i].id %>">
                            <div class="main-section-img">
                                <img src="/images/productos/<%= productsRandom[i].categories.name + '/' + productsRandom[i].images_products.name %>" alt="<%= productsRandom[i].description + " " + productsRandom[i].id %>">
                            </div>
                        </a>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <% if (productsRandom[i].discount > 0) { %>
                                    <p class="precio-producto-tachado"><%= "$" + toThousand(toComma(productsRandom[i].price)) %></p>
                                    <p class="precio-con-descuento"><%= "$" + toThousand(toComma(productsRandom[i].price * (100 - 10) / 100)) %></p>
                                    <p class="descuento-producto"><%= productsRandom[i].discount + '% OFF' %></p>
                                <% } else { %>
                                    <p class="precio-con-descuento"><%= "$" + toThousand(toComma(productsRandom[i].price * (100 - 10) / 100)) %></p>
                                <% } %> 
                            </div>
                            <div class="section-h3">
                                <h3><%= productsRandom[i].name %></h3>
                            </div>
                        </div>                    
                    </article>
                <% } %>
            </div>
        </section>
        
        <section> 
            <div class="ver-mas">
                <a class="link-home" href="/">Ver más</a>
            </div>
        </section>
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
<script src="/js/function.js"></script>
<script src="/js/addProductCart.js"></script>
</html>
